dist/
node_modules/
.astro/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp

# Env
.env
.env.local
.env.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Private keys
*.gpg
*-private.asc
*-revoke.asc